<div class="row">
    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-5 text-center">
        <Animate 
            Animation="Animations.FadeIn">
                <lottie-player 
                    src="https://assets4.lottiefiles.com/packages/lf20_unJ8q8.json"  
                    background="transparent"  
                    speed="1"  
                    style="width: 100%; height: 100%;"  
                    loop autoplay></lottie-player>
                <br>
                <h2 class="display-4">No results :'(</h2>
        </Animate>
    </div>
</div>